<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarathonRandomiser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MarathonRandomiser.Properties.Settings>
            <setting name="ModsDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="GameExecutable" serializeAs="String">
                <value />
            </setting>
            <setting name="PatchDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="TeamAttackAmigo" serializeAs="String">
                <value />
            </setting>
            <setting name="SonicVeryHard" serializeAs="String">
                <value />
            </setting>
            <setting name="ShadowVeryHard" serializeAs="String">
                <value />
            </setting>
            <setting name="SilverVeryHard" serializeAs="String">
                <value />
            </setting>
        </MarathonRandomiser.Properties.Settings>
    </userSettings>
</configuration>